body{
    background-color: black;
}

#rel{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8em;
    padding: 0px;
    margin: 0px;
    border: solid 5px blue;
    color: yellowgreen;
    width: 600px;
    margin-left: 300px;
    margin-top: 400px;
}

#relogio{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    width: 200px;
    margin-left: 320px;
}